.useFullLinkDiv span {
    display: block;
    width: 25%;
    border-bottom: 3px solid #05FF00; /*underline color*/
    text-align: justify;
}

.subscribeUnderLineSpan {
    display: block;
    width: 15%;
    border-bottom: 3px solid #05FF00; /*underline color*/
    text-align: justify;
}

.footerDiv {
    background-color: #1F1F22;
}

.copyRightText {
    background-color: #121213;
}

.emailAddress {
    background-color: #464141;
    border: none;
}

.emailAddress:focus {
    background-color: #464141;
    border: none;
    color: #ffffff;
}

::-webkit-input-placeholder {
    color: #ffffff !important;
}

::-moz-placeholder {
    color: white !important;
}

:-ms-input-placeholder {
    color: #ffffff !important;
}

.icon {
    background: #05FF00;
}

.copyRightTextDiv {
    padding-left: 2.57rem;
}


@media only screen and (max-device-width: 1024px) {
    .copyRightTextDiv {
        padding-left: 2rem;
    }

    .useFullLinkDiv span {
        display: block;
        width: 37%;
        border-bottom: 3px solid #05FF00; /*underline color*/
        text-align: justify;
    }

    .subscribeUnderLineSpan {
        display: block;
        width: 20%;
        border-bottom: 3px solid #05FF00; /*underline color*/
        text-align: justify;
    }
}

@media only screen and (max-device-width: 768px) {
    .copyRightTextDiv {
        padding-left: 0;
    }

    .useFullLinkDiv span {
        display: block;
        width: 49%;
        border-bottom: 3px solid #05FF00; /*underline color*/
        text-align: justify;
    }

    .subscribeUnderLineSpan {
        display: block;
        width: 29%;
        border-bottom: 3px solid #05FF00; /*underline color*/
        text-align: justify;
    }
}

@media only screen and (max-device-width: 425px) {
    .copyRightTextDiv {
        padding-left: 0;
    }

    .useFullLinkDiv {
        margin: 15px 0 20px 0;
    }

    .textFieldDiv {
        margin-bottom: 20px;
    }

    .useFullLinkDiv span {
        display: block;
        width: 22%;
        border-bottom: 3px solid #05FF00; /*underline color*/
        text-align: justify;
        margin-bottom: 5px;
    }

    .subscribeUnderLineSpan {
        display: block;
        width: 17%;
        border-bottom: 3px solid #05FF00; /*underline color*/
        text-align: justify;
        margin-bottom: 15px;
    }

    .logoDiv {
        padding-top: 25px;
    }
}

@media only screen and (max-device-width: 375px) {
    .copyRightTextDiv {
        padding-left: 0;
    }

    .useFullLinkDiv {
        margin: 15px 0 20px 0;
    }

    .textFieldDiv {
        margin-bottom: 20px;
    }
}

@media only screen and (max-device-width: 320px) {
    .copyRightTextDiv {
        padding-left: 0;
    }

    .useFullLinkDiv {
        margin: 15px 0 20px 0;
    }

    .textFieldDiv {
        margin-bottom: 20px;
    }
}
